{% extends 'base.html' %}

{% block title %}About ALM{% endblock %}

{% block section %}
    <section class="about">
        <header>
            <h2>What is ALM?</h2>
        </header>
        <hr>
        <main>
            <p>
                The intent of this project is so that people who are neurotic and have
                the bad habit of catalogue their musical repertoire can get some insights
                about their musical taste.
            </p>
        </main>
        <br>
        <header>
            <h2>Who developed this garbage?</h2>
        </header>
        <hr>
        <main>
            <h3><a href="https://www.linkedin.com/in/fl%C3%A1vio-violin-21150616b/">Fravin do pneu</a></h3>
            <p>
                Infrastructure analyst; bachelor in administration; an individual with
                a very fertile imagination.
            </p>
            <br>
            <h3><a href="https://www.linkedin.com/in/gabriel-santos-leati-45b374213/">Grabiel</a></h3>
            <p>
                BI and data analyst; a lot of incomplete graduations; a very patient 
                person.
            </p>
            <br>
            <h3><a href="https://github.com/vasakamoto">Sai ka moto</a></h3>
            <p>
                Data engineer and analyst; bachelor in chemistry; a good sense of humor
                is a must.
            </p>
            <br>
        </main>
    </section>
{% endblock %}
