{% extends 'base.html' %}

{% block title %}ALM - Album{% endblock %}

{% block section %}
    <section class="album">
        <header>
            <h2>Album</h2>
            <a class="action" href="{{ url_for('index.download_albums') }}">Download json</a>
            <a class="action" href="{{ url_for('index.create_album') }}">New</a>
        </header>
        <hr>
        <main>
            <table>
                <thead class="table-header">
                    <tr>
                        <th>Title</th>
                        <th>Artists</th>
                        <th>Genre</th>
                        <th>Subgenre</th>
                        <th>Rating</th>
                        <th>Number of Tracks</th>
                        <th>Length</th>
                        <th>Release Date</th>
                        <th>Inserted Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-rows">
                    {% for album in g.albums %}
                        <tr>
                            <td>{{ album['TITLE'] }}</td>
                            <td>{{ album['ARTISTS'] }}</td>
                            <td>{{ album['GENRE'] }}</td>
                            <td>{{ album['SUBGENRE'] }}</td>
                            <td>{{ album['RATING'] }}</td>
                            <td>{{ album['N_TRACKS'] }}</td>
                            <td>{{ album['LENGTH'] }}</td>
                            <td>{{ album['DT_RELEASE'] }}</td>
                            <td>{{ album['DT_INSERTED'] }}</td>
                            <td><a class="action" href="{{ url_for('index.update_album', id=album['id']) }}">Edit</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </section>
{% endblock %}

