{% extends 'base.html' %}

{% block title %}ALM - Album{% endblock %}

{% block section %}
    <section class="album">
        <header>
            <h2>Album</h2>
            <a class="action" href="{{ url_for('index.create_album') }}">New</a>
        </header>
        <hr>
        <main>
            <table>
                <thead class="table-header">
                    <tr>
                        <th>Title</th>
                        <th>Artists</th>
                        <th>Genre</th>
                        <th>Subgenre</th>
                        <th>Rating</th>
                        <th>Number of Tracks</th>
                        <th>Length</th>
                        <th>Release Date</th>
                        <th>Inserted Date</th>
                    </tr>
                </thead>
                <tbody class="table-rows">
                    <tr>
                        <td>Dark Side of the Moon</td>
                        <td>Pink Floyd</td>
                        <td>Rock</td>
                        <td>Progressive Rock</td>
                        <td>9.5</td>
                        <td>10</td>
                        <td>42.59</td>
                        <td>1973-03-01</td>
                        <td>2025-06-12</td>
                    </tr>
                    <tr>
                        <td>The Wall</td>
                        <td>Pink Floyd</td>
                        <td>Rock</td>
                        <td>Progressive Rock</td>
                        <td>9.7</td>
                        <td>26</td>
                        <td>81.58</td>
                        <td>1979-11-30</td>
                        <td>2025-06-12</td>
                    </tr>
                    {% for album in g.albums %}
                        <tr>
                            <td>{{ album['title'] }}</td>
                            <td>{{ album['artists'] }}</td>
                            <td>{{ album['GENRE'] }}</td>
                            <td>{{ album['subgenre'] }}</td>
                            <td>{{ album['rating'] }}</td>
                            <td>{{ album['n_tracks'] }}</td>
                            <td>{{ album['length'] }}</td>
                            <td>{{ album['dt_release'] }}</td>
                            <td>{{ album['dt_inserted'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </section>
{% endblock %}

