{% extends 'base.html' %}

{% block title %}ALM{% endblock %}

{% block section %}
    <section class="main">
        <header>
            <h3>Last Album Inserted</h3>
        </header>
            {% if g.last_album %}
                <p>{{ g.last_album['ARTISTS'] }} - {{ g.last_album['TITLE'] }}</p>
            {% else %}
                <p>Your album collection is empty</p>
            {% endif %}
        <header>
            <h3>Last Single Inserted</h3>
        </header>
            {% if g.last_single %}
                <p>{{ g.last_single['ARTISTS'] }} - {{ g.last_single['TITLE'] }}</p>
            {% else %}
                <p>Your single collection is empty</p>
            {% endif %}
        <header>
            <h3>Top 5 Albums</h3>
        </header>
            {% if g.top5_album %}
                <ol>
                    {% for album in g.top5_album %}
                        <li>{{ album['ARTISTS'] }} - {{ album['TITLE'] }}</li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>Your album collection is empty</p>
            {% endif %}
        <header>
            <h3>Top 5 Singles</h3>
        </header>
            {% if g.top5_single %}
                <ol>
                    {% for single in g.top5_single %}
                        <li>{{ single['ARTISTS'] }} - {{ single['TITLE'] }}</li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>Your single collection is empty</p>
            {% endif %}
    </section>
{% endblock %}
