{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block section %}
    <section class="signup">
        <header>
            <h2>Register</h2>
        </header>
        <hr>
        <main>
            <form method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="emai" required>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
                <input type="submit" value="Sign Up">
            </form>
        </main>
    </section>
{% endblock %}
